/ %li{:id => dom_id(@column)}
%li{:id => "widget_#{@column.id}"}
  .handle
    = @column.name
    - if can? :update, @column.community
      = link_to 'delete', url_for_event(:delete_widget, :id => @column.page.id, :widget_id => @column.id), :confirm => 'Are you sure?', :method => 'delete', :remote => true
      = link_to '添加新文章', new_community_column_article_path(@column.community, @column)
      %a{:href => "#", :id => "#{@column.id}-settings"} settings

  .widget-settings{"data-id" => "#{@column.id}", :style => "width:500px; background:#f4f4ec; padding:20px; margin-bottom:10px;"}
    = form_for @column, :url => community_column_url(@column.community, @column)  do |f|
      %p
        = f.text_field :name
      %p  
        = f.submit "保存"

  %div{:id => dom_id(@column), :style => "min-height:100px; width:500px; background:#f4f4ec; padding:20px;"}
    - @column.articles.each do |article|
      %h4 #{article.title}
      %small #{article.created_at.strftime("%H:%M %Y-%m-%d ")}
      %p #{article.body}
   

:javascript
  $(document).ready(function(){
    $(".widget-settings[data-id=#{@column.id}]").hide();
    $('##{@column.id}-settings').click(function() {
      $(".widget-settings[data-id=#{@column.id}]").slideToggle();
    });
  });  