%h3 在#{@forum.name}发言
= form_for @topic, :url => {:action => "create"}  do |f|
  %p
    = f.text_field :title
  %p
    = f.text_area :body, :size => "60x12"
  %p
    = f.hidden_field :community_id, :value => @forum.community.id
  %p
    = f.hidden_field :forum_id, :value => @forum.id    
  %p  
    = f.submit "更新"