/ %li{:id => dom_id(@qa)}
%li{:id => "widget_#{@qa.id}"}
  .handle
    = @qa.name
    = link_to 'delete', url_for_event(:delete_widget, :id => @qa.page.id, :widget_id => @qa.id), :confirm => 'Are you sure?', :method => 'delete', :remote => true
    %a{:href => "#", :id => "#{@qa.id}-settings"} settings
    = link_to '发言', new_community_qa_question_path(@qa.community, @qa)

  .widget-settings{"data-id" => "#{@qa.id}", :style => "width:500px; background:#f4f4ec; padding:20px; margin-bottom:10px;"}
    = form_for @qa, :url => community_qa_url(@qa.community, @qa)  do |f|
      %p
        = f.text_field :name
      %p  
        = f.submit "保存"

  %div{:id => dom_id(@qa), :style => "min-height:100px; width:500px; background:#f4f4ec; padding:20px;"}
    = form_tag new_community_qa_question_path(@qa.community, @qa), :method => :get do
      = text_field_tag :title
      %p  
        = submit_tag "提个问"    
    %br
    %table
      %tr
        %th 问题
        %th 作者
        %th 回应
        %th 浏览
        %th 最后更新
      - @qa.questions.each do |q|
        %tr 
          %td #{q.title}
          %td 
          %td 
          %td 
          %td #{q.created_at.strftime("%H:%M %Y-%m-%d ")}       

:javascript
  $(document).ready(function(){
    $(".widget-settings[data-id=#{@qa.id}]").hide();
    $('##{@qa.id}-settings').click(function() {
      $(".widget-settings[data-id=#{@qa.id}]").slideToggle();
    });
  });         