= widget_div do
  .add-widgets
    .widget
      = render_widget :page_setting, :display, :page => @page
    .widget
      = link_to '删除房间', [@page.community, @page], :confirm => 'Are you sure?', :method => :delete  
    .widget
      %h4 公告栏
      %p 贴通知的地方，甚至是通缉令
      = link_to '添加', url_for_event(:new_widget, :category => "Bulletin", :id => @page.id), :remote => true
    .widget
      %h4 论坛
      %p 方便别人在这里坐而论道
      = link_to '添加', url_for_event(:new_widget, :category => "Forum", :id => @page.id), :remote => true
    .widget
      %h4 投票
      %p 从超级女声到总统选举都爱用它
      = link_to '添加', url_for_event(:new_widget, :category => "Poll_Set", :id => @page.id), :remote => true
    .widget
      %h4 问答
      %p 问和答都在这里
      = link_to '添加', url_for_event(:new_widget, :category => "Qa", :id => @page.id), :remote => true  